  h2,h4,h3{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
  }
  u{
    color:rgb(113, 204, 172);
  }
  
  
  

.body{
  
  justify-content: baseline;
 
  display: flex;
  flex-direction:column;
  
  
}
