  h2,h4{
    text-align: center;
    color: rgb(20, 19, 20);
    background-color:rgb(58, 49, 133);
    padding: 5px;
  }
  mark{
    color: rgb(11, 11, 12);
    background-color:rgb(180, 179, 192);
  }
  .image{
    text-align: center;
    margin: auto;
    padding:10px;
    
   box-shadow: 5px 5px rgb(101, 95, 136);
   width: 250px;
   height: 250px;
   /* border-radius: 100px; */

  }
  .cardb{
    
    
    padding:10px;
    border-radius: 10px;
    background-color: rgb(194, 197, 202);
    box-shadow: 5px 5px rgb(101, 95, 136);
  }

.body{
  
 text-align: center;
 display: inline-flex;
 margin: 22px;
  
  
} 
